extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/privacy_policy.css')

block content
    #howto_title
        h1.title_area Privacy Policy
        .manual_area This privacy policy governs your use of the software application com.tinker.graphit (“Application”).
                ol 
                    li 
                        p
                            i What Information does the Application obtain and how is it used ?<br>
					|The Application reads the user's Google account(s) which is (are) stored in the device to allow access to the user's online spreadsheet file.<br>
                    li 
                        p
                            i Why does the Application needs to have the Contacts permission ?
                    |The Contacts permission is needed to get access to the list of user accounts stored in the device.
                    li 
                        p 
                            i Does the Application collect location information ?
                    |No, the Application does not collect location information.
                    li 
                        p
                            i Can I choose not to share my account information ?
                    |Android presents a popup to let the user choose to allow or deny this access to the Application upon startup. You can choose to deny the Application access to the account(s) stored in your device. As a consequence the Application will not work.
                    li 
                        p 
                            i Your consent
                    |By using the Application, you are consenting to the Application using your account information as described here.
                    li 
                        p
                            i Contact the developer
                    |If you have any questions regarding privacy while using the Application, or have questions about the Application in general, please contact me via e-mail at sonny.kurniawan.yap@gmail.com.