extends layout

block content
    h1= title
    div.newemployee
        form( method="post", enctype="multipart/form-data")
            div
                div
                    span.label Title :
                    input(type="text", name="title", id="editEmployeeTitle")
                div
                    span.label Name :
                    input(type="text", name="name", id="editEmployeeName")
                div
                    span.label Photo :
                    input(type="text", name="imageId", id="employeePhoto")
                div
                    input(type="file", multiple="multiple", name="userPhoto",id="thumbnail", accept="image/*")
                div#editEmployeeSubmit
                    input(type="submit", value="Save")

        a(href="/")!= "Back to Employee List"
block scripts
    script.
        $('#thumbnail').on('change', function(){
            $('#employeePhoto').val($('#thumbnail').val().replace(/^.*\\/, "").split(".")[0]);
        })	