extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/howto_graphit.css')

block content
    #howto_title
        h1.title_area How to use this app
        .manual_area Follow these steps to display your graph
            li Press the Select Account button and choose your Gmail account
            li Input the title of your sheet, located at the top left of your sheet
            li Input the name of your sheet, located at the bottom
            li Input the starting row of your data. In this example, it will be 2
            li Input the axis column of your data. A=1, B=2, and so on. In this example, it will be 1
            li Input the value column of your data. In this example, it will be 2
    img(src="images/howto.png")