extends layout

block content
	#top-header
		.top-header-container
			#background.landing_page.two-column-left
				#welcome-text-div 
					p Hello, I'm
					span.name Sonny Kurniawan
		
			.flexbox-container.two-column-right
				#photo
					img(src="images/prof2.jpg" alt="my profile image")

	#top-contents.container

		#software-services-text.normal_text
			#title.title 
				img.inline_img_title(src="images/icons/about_me.png" alt="pc")
				| About Me
			.content
				p I have rich experience in the software industry building software for
					img.inline_img(src="images/icons/pc.png" alt="pc")
					| and
					img.inline_img(src="images/icons/mobile.png" alt="pc")
					|.
					br
					| I currently specialise in interactive content using sensor input such as cameras, laser range finders
					| and various other analog sensors. 
					|Maybe I can 
					span.emphasis_text help 
					| ?
					br
					| You can also check out my past experiences here : 
					img.inline_img_title#profile-button(src="images/icons/profile.png" alt="pc")
		
		#services.normal_text
			#services.title 
				img.inline_img_title(src="images/icons/work.png" alt="profile")
				| Services
			.content
				#dev_works
					| Games, IoT, Web/Native applications, I provide a wide range of software/hardware solutions.
					br 
					| You can see some of my work #[a(href="/work") here] or contact me for further details.

		#contact.normal_text
			#contact.title
				img.inline_img_title(src="images/icons/contact.png" alt="profile")
				| Contact me
			.content
				p Feel free to contact me on any software needs you may have and we can sort it out together.
				a(href="https://www.facebook.com/sonny.yap")
					img.inline_img(src="images/icons/fb.png" alt="pc")
				a(href="mailto:sonny.kurniawan.yap@gmail.com")
					img.inline_img(src="images/icons/mail.png" alt="pc")
				a(href="https://twitter.com/YapSonny")
					img.inline_img(src="images/icons/twitter.png" alt="pc")
					
block scripts
	script(src="/scripts/topPage.js")
	script.
		$(document).ready(function(){
			new page.pageControl()
		})	