doctype html
html
  head
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/styles_common.css')
    link(rel='stylesheet', href='/stylesheets/top_page.css')
    script(src="/scripts/thirdparty/jquery-2.1.1.min.js")
    script(src="/scripts/util/touchClass.js")
  body
    block content
    block scripts