doctype html
html(prefix="og: http://ogp.me/ns#" lang="en")
  head
    block head
      title= title
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
      link(rel="stylesheet" type="text/css" href='/stylesheets/html5reset.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/fonts.css')
      link(rel='stylesheet', href='/stylesheets/styles_common.css')
      link(rel='stylesheet', href='/stylesheets/top_page.css')
      script(src="/scripts/thirdparty/jquery-2.1.1.min.js")
      script(src="/scripts/util/touchClass.js")
      script(src="/scripts/util/tsUnit.js")

  body
    block content
    block scripts