extends layout

block append head
	<meta property="og:title" content="My Profile" />
	<meta property="og:description" content="More details about me" />
	<meta property="og:url" content="https://ancient-harbor-5436.herokuapp.com/profile" />
	<meta property="og:image" content="http://ancient-harbor-5436.herokuapp.com/images/my_logo.jpg" />
	link(rel='stylesheet', href='/stylesheets/design_profile.css')
	link(rel='stylesheet', href='/stylesheets/smartphones-portrait.css')
	
block content
	.flexbox-container
			#language_selector
				select(id="lang_sel")
					option(value="english") English
					option(value="japanese") Japanese
					option(value="chinese") Chinese
					option(value="indonesian") Indonesian
			
		#firstEntry.entry
			#aboutMe.entryTitle
				h1 About Me
			#summary.entryContent
				h2 I am a software engineer working in Japan interested in all things related to software and programming.
					|I did a major in Robotics focusing on biped humanoid robots and some computer vision.
					|I enjoy coding and is always looking to upgrade my current skills and learn new ones.
					|When not in front of my computer I enjoy tennis, travelling, and also reading a good book.

	.flexbox-container
		#secondEntry.entry
			#education.entryTitle
				h1 Education
			#eduSummary.entryContent
				h2 2002-2003 : Osaka University of Foreign Languages
				h2 2003-2007 : Tohoku University, Faculty of Engineering.
					br
					|Mechanical Engineering Major
				h2 2007-2009 : Tohoku University, Graduate School of Engineering.
					br 
					|Space Robotics Labs

		#thirdEntry.entry
			#workExperience.entryTitle
				h1 Experience
			#expSummary.entryContent
				h2 2009-2012 : Sony Corporation, VAIO Business Group
				h2 2012-Jul 2013 : Sony Corporation, br
					|Information Technology Development Department
				h2 Jul 2013-Apr 2015 : Pokelabo, Game Development Department
				h2 May 2015-Sep 2016 : Rakuten, Japan Mall Group, Smart Device Development Team
				h2 Oct 2016-Current : Placeholder Inc.

	.flexbox-container
		#fourthEntry.entry
			#language.entryTitle
				h1 Language
			#langSummary.entryContent
				h2 Indonesian (Native Level)
				h2 English (Native Level)
				h2 Japanese (Native Level)
				h2 Chinese (Everyday use)

		#fifthEntry.entry
			#skills.entryTitle
				h1 Programming
			#skillsSummary.entryContent
				h2 C, C++
				h2 Java (Android)
				h2 HTML/CSS, Javascript
				h2 OpenCV, OpenGL, jQuery, and various other libraries
				h2 NodeJS

	#contact_fb.normal_text
		a(href="https://www.facebook.com/sonny.yap")
			img.inline_img(src="images/Icons/fb.png" alt="pc")
		a(href="mailto:sonny.kurniawan.yap@gmail.com")
			img.inline_img(src="images/Icons/mail.png" alt="pc")
		a(href="https://twitter.com/YapSonny")
			img.inline_img(src="images/Icons/twitter.png" alt="pc")

	#english_wrapper
		#firstEntryEnglish.entry
			#aboutMeEnglish.entryTitle
				h1 About Me
			#summaryEnglish.entryContent
				h2 I am a software engineer working in Japan interested in all things related to software and programming.
					|I did a major in Robotics focusing on biped humanoid robots and some computer vision.
					|I enjoy coding and is always looking to upgrade my current skills and learn new ones.
					|When not in front of my computer I enjoy tennis, travelling, and also reading a good book.


		#secondEntryEnglish.entry
			#educationEnglish.entryTitle
				h1 Education
			#eduSummaryEnglish.entryContent
				h2 2002-2003 : Osaka University of Foreign Languages
				h2 2003-2007 : Tohoku University, Faculty of Engineering.
					br
					|Mechanical Engineering Major
				h2 2007-2009 : Tohoku University, Graduate School of Engineering.
					br 
					|Space Robotics Labs

		#thirdEntryEnglish.entry
			#workExperienceEnglish.entryTitle
				h1 Experience
			#expSummaryEnglish.entryContent
				h2 2009-2012 : Sony Corporation, VAIO Business Group
				h2 2012-Jul 2013 : Sony Corporation, br
					|Information Technology Development Department
				h2 Jul 2013-Apr 2015 : Pokelabo, Game Development Department
				h2 May 2015-September 2016 : Rakuten, Japan Mall Group, Smart Device Development Team
				h2 October 2016-Current : Placeholder Inc.

		#fourthEntryEnglish.entry
			#languageEnglish.entryTitle
				h1 Language
			#langSummaryEnglish.entryContent
				h2 Indonesian (Native Level)
				h2 English (Native Level)
				h2 Japanese (Native Level)
				h2 Chinese (Everyday use)

		#fifthEntryEnglish.entry
			#skillsEnglish.entryTitle
				h1 Programming
			#skillsSummaryEnglish.entryContent
				h2 C, C++
				h2 Java (Android)
				h2 HTML/CSS, Javascript
				h2 OpenCV, OpenGL, jQuery, and various other libraries
				h2 NodeJS

	#japanese_wrapper
		#firstEntryJapanese.entry
			#aboutMeJapanese.entryTitle
				h1 自己紹介
			#summaryJapanese.entryContent
				h2 日本で働いているソフトウェアエンジニアです。ソフトウェアとプログラミングにはとても興味を持っています。
					|ロボティクス分野における二足歩行ロボットの制御とコンピュータービジョンに関する研究を大学で行い、制御工学と画像処理にも深い関心をもっております。
					|ソフトウェアに関する知識を常に更新し、新しいプログラミング言語やツールを日々試しています。
					|パソコンいじっていないときはテニス、旅行と読書を楽しんでいます。

		#secondEntryJapanese.entry
			#educationJapanese.entryTitle
				h1 学歴
			#eduSummaryJapanese.entryContent
				h2 2002-2003 : 大阪外国語大学、現：大阪大学（日本語教育）
				h2 2003-2007 : 東北大学、工学部。機械知能系
				h2 2007-2009 : 東北大学工学科。
					航空宇宙ロボット学科

		#thirdEntryJapanese.entry
			#workExperienceJapanese.entryTitle
				h1 履歴
			#expSummaryJapanese.entryContent
				h2 2009-2012 : ソニー株式会社。VAIO事業本部、ソフトウェア設計部部門
				h2 2012-Jul 2013 : ソニー株式会社。
					情報技術開発部門
				h2 2013/8-2015/4: ポケラボ
				h2 2015/5-2016/9 : 楽天, ジャパンモールグループ、スマートデバイズチーム
				h2 2016/10-現在：プレースホルダ（株）

		#fourthEntryJapanese.entry
			#languageJapanese.entryTitle
				h1 語学
			#langSummaryJapanese.entryContent
				h2 インドネシア語 (ネーティブレベル)
				h2 英語 (ネーティブレベル)
				h2 日本語 (ネーティブレベル)
				h2 中国語 (流暢)

		#fifthEntryJapanese.entry
			#skillsJapanese.entryTitle
				h1 プログラミング言語
			#skillsSummaryJapanese.entryContent
				h2 C, C++
				h2 Java (Android)
				h2 HTML/CSS, Javascript
				h2 OpenCV, OpenGL, jQuery, and various other libraries
				h2 NodeJS
	#indonesian_wrapper
		#firstEntryIndonesian.entry
			#aboutMeIndonesian.entryTitle
				h1 Pengenalan
			#summaryIndonesian.entryContent
				h2 Saya berdomisili di Tokyo dan bekerja sebagai programmer dan sangat tertarik dengan segala hal yang berhubungan dengan software.
					|Saya mendalami robotika dengan fokus di Humanoid Robotics dan pemanfaatan Computer Vision untuk pengenalan lingkungan.
					|Saya sangat tertarik dengan ilmu komputer dan selalu berusaha untuk mendalami teknik baru di bidang programming.
					|Selain komputer saya juga hobi bermain tenis, berkeliling dan membaca.

		#secondEntryIndonesian.entry
			#educationIndonesian.entryTitle
				h1 Pendidikan
			#eduSummaryIndonesian.entryContent
				h2 2002-2003 : Osaka University of Foreign Languages.
				h2 2003-2007 : Tohoku University, Faculty of Engineering.
					br
					|Mechanical Engineering Major
				h2 2007-2009 : Tohoku University, Graduate School of Engineering. 
					br
					|Space Robotics Lab

		#thirdEntryIndonesian.entry
			#workExperienceIndonesian.entryTitle
				h1 Pengalaman Kerja
			#expSummaryIndonesian.entryContent
				h2 Apr 2009- Jun 2012 : Sony Corporation, VAIO Business Group
				h2 Jun 2012-Jul 2013 : Sony Corporation, Information Technology Development Department
				h2 Aug 2013-Apr 2015: Pokelabo
				h2 May 2015-Sep 2016 : Rakuten, Japan Mall Group, Smart Device Development Team
				h2 Oct 2016-Current : Placeholder Inc.

		#fourthEntryIndonesian.entry
			#languageIndonesian.entryTitle
				h1 Kemampuan Bahasa
			#langSummaryIndonesian.entryContent
				h2 Indonesia (Native Level)
				h2 Inggris (Native Level)
				h2 Jepang (Native Level)
				h2 Mandarin (Everyday use)

		#fifthEntryIndonesian.entry
			#skillsIndonesian.entryTitle
				h1 Programming
			#skillsSummaryIndonesian.entryContent
				h2 C, C++
				h2 Java (Android)
				h2 HTML/CSS, Javascript
				h2 OpenCV, OpenGL, jQuery, and various other libraries
				h2 NodeJS


	#mandarin_wrapper
		#firstEntryMandarin.entry
			#aboutMeMandarin.entryTitle
				h1 個人資料
			#summaryMandarin.entryContent
				h2 住在日本的軟體工程師.對軟體和電腦編程非常感興趣.
					|大學院研究主題是二足型機器人,計算機視覺與圖像識別.
					|我天天不在學習提高自己的技術就打網球,去旅行或者看書.

		#secondEntryMandarin.entry
			#educationMandarin.entryTitle
				h1 學歷
			#eduSummaryMandarin.entryContent
				h2 2002-2003 : 大阪外国語大学
				h2 2003-2007 : 東北大学工学部
					br
					|機械知能工学科
				h2 2007-2009 : 東北大学工学部
					br
					|航空宇宙工学科

		#thirdEntryMandarin.entry
			#workExperienceMandarin.entryTitle
				h1 工作經驗
			#expSummaryMandarin.entryContent
				h2 Apr 2009- Jun 2012 : Sony Corporation, VAIO Business Group
				h2 Jun 2012-Jul 2013 : Sony Corporation, Information Technology Development Department
				h2 Aug 2013-Apr 2015: Pokelabo
				h2 May 2015-Sep 2015 : Rakuten, Japan Mall Group, Smart Device Development Team
				h2 Oct 2016-Current : Placeholder Inc.

		#fourthEntryMandarin.entry
			#languageMandarin.entryTitle
				h1 語言
			#langSummaryMandarin.entryContent
				h2 印尼文 (流暢)
				h2 英文 (流暢)
				h2 日文 (流暢)
				h2 華文 (日常)

		#fifthEntryMandarin.entry
			#skillsMandarin.entryTitle
				h1 程式語言
			#skillsSummaryMandarin.entryContent
				h2 C, C++
				h2 Java (Android)
				h2 HTML/CSS, Javascript
				h2 OpenCV, OpenGL, jQuery, and various other libraries
				h2 NodeJS

block scripts
	script(src="/scripts/profilePage.js")
	//script(src="/scripts/util/languageTest.js")
	script.
		$(document).ready(function(){
			//var test = new tsUnit.Test(languageTests);
			//test.showResults(document.getElementById('contacts'), test.run());

			new profilePage.profilePageClass();
		})