extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/tribute_page.css')

block content
	#profile_photo
		img(src="images/Bjarne.jpg" style="width:90%; margin-top:10%; margin-left:5%; bottom:50px")