extends layout

block append head
	<meta property="og:title" content="My Profile" />
	<meta property="og:description" content="More details about me" />
	<meta property="og:url" content="https://ancient-harbor-5436.herokuapp.com/profile" />
	<meta property="og:image" content="http://ancient-harbor-5436.herokuapp.com/images/my_logo.jpg" />
	link(rel='stylesheet', href='/stylesheets/work.css')
	link(rel='stylesheet', href='/stylesheets/smartphones-portrait.css')

block content
	#page-title.entryTitle
		h1 Interactive Entertainment Installations
	.flexbox-container
		.pf_card
			img(src="images/work/sandparty.jpg" style="width:100%")
			.pf_card_text
				| SANDPARTY! (2016)
				br
				| Using depth sensors to project colors based on sand height for sandboxes. Developed both content and sensing system. <br>
				a(href="http://www.dailytinkerer.com/2020/04/interactive-digital-sandbox.html")
					| Click here for more details.
		.pf_card
			img(src="images/work/dyw.jpg" style="width:100%")
			.pf_card_text
				| DRAW YOUR WORLD! (2017)
				br
				| Scans doodles and make them come alive. Developed both content and sensing system. <br>
				a(href="http://www.dailytinkerer.com/2020/05/scan-doodles-and-watch-them-come-alive.html")
					| Click here for more details.
	.flexbox-container
		.pf_card
			img(src="images/work/word_adventure.jpg" style="width:100%")
			.pf_card_text
				| WORD ADVENTURE (2017)
				br
				| Using laser range sensor to convert wall into a touch screen for block puzzle game. Developed both content and sensing system. <br>
				a(href="http://www.dailytinkerer.com/2020/04/word-adventure-gather-letters-to.html")
					| Click here for more details.
		.pf_card
			img(src="images/work/digital_leaf.jpg" style="width:100%")
			.pf_card_text
				| DISCOVER LEAF (2018)
				br
				| Developed sensing system to detect people position. Digital leaf will scatter as we step and walk on it. <br>
				a(href="http://www.dailytinkerer.com/2020/04/image-processing-with-intel-realsense.html")
					| Click here for more details on the sensing system.

	.entryTitle
		h1 Enterprise/Business Applications
	.flexbox-container
		.pf_card
			img(src="images/work/kongoji.PNG" style="width:100%")
			.pf_card_text
				| MEMBERSHIP APP (2018)
				br
				| App to display membership data based on ID input or NFC (member's card). This app was built with Unity. <br>
				| (Details under construction)

	
	.entryTitle
		h1 Computer Vision Research (Under construction)
