div#radarGraph {
	width : 100%;
	height: 300px;
	color:#FFFFFF
}

h1{
  	color: #1b9ec9;
	  font-size: 1em;
}
h2{
	margin-top:5px; 
	margin-left:5px;
	font-size: 16px;
}

#lang_sel{
	height: 2em;
	margin-top: 3%;
	font-size: 1em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.country_flag{
	width:30px;
	height:20px;
}
#english_wrapper{
	display: none
}

#japanese_wrapper{
	display: none
}
#indonesian_wrapper{
	display: none
}
#mandarin_wrapper{
	display: none;
}

div.entry{
	width:100%;
	color:#696969;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	    box-shadow: 0 8px 6px -6px black;
}

/*The p tag that shows full name on top of page*/
p#nameText{
	font-size:80px;
	margin-left:2%;
	color:#1b9ec9;
}

/*The DIV that shows photo*/
div#photo{
	width:50%;
	margin-right: 5px;
}
div#photo img{
	width: 50%;
}

body
{
	max-width: 85%;
	margin:auto;
	font-family:PTSansWebRegular;
}

/******For layout on tablets in portrait mode***********/
@media screen and (max-width: 800px) and (min-width: 480px)
{
	.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	}

	.flexbox-container > div {
		width: 50%;
		padding: 10px;
	}
	
	.flexbox-container > div:first-child {
		margin-right: 20px;
	}
	div.entryTitle{
		width:100%;font-size:1em;
	}
	div.entryContent{
		font-size:0.5em; width:100%;
	}
	div#introDiv{
		height:10%;
	}	
	p#nameText{
		font-size:45px;
	}
	#contacts:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	#radarGraph{
		display:none;
	}
	#personal_contacts{
	width:50%;
	color:#121212;
	margin:10px;
	background-color: white
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
	/* Styles */
	.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	}
	
	.flexbox-container > div:first-child {
		margin-right: 20px;
	}
	div#photo{
		width:50%;
	}
	#contacts:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	/*The div class that acts as resume entry wrapper*/
	div.entry{
		width:100%;
	}
	div.entryTitle{
		width:100%;font-size:2em;
	}
	div.entryContent{
		font-size:1em; 
		width:100%;
		padding: 3%
	}

}