@font-face {
font-family: Monaco;
src: url("../fonts/Monaco.ttf");
}


@font-face {
font-family: OstrichRegular;
src: url("../fonts/OstrichRegular.ttf");
}

@font-face {
font-family: LatoRegular;
src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
font-family: PontanoSansRegular;
src: url("../fonts/PontanoSans-Regular.ttf");
}

@font-face {
font-family: Aller;
src: url("../fonts/Aller_Rg.ttf");
}

@font-face {
font-family: PTSansWebRegular;
src: url("../fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
font-family: Cantarell;
src: url("../fonts/Cantarell/Cantarell-Regular.ttf");
}