	/**********For layout on smartphones in portrait mode************/
@media screen and (max-width: 480px)
{
	p#nameText{
		font-size:35px;
		color: #FFFFFF;
		font-family: OstrichRegular;
		text-align: center
	}
	div#photo{
		position: absolute;
		top: 10%;
		left: 20%;
		font-size:0.6em;
		width: 30%;
	}
	
	div.entry{
		width:100%;
	}
	div.entryTitle{
		width:100%;
		font-size:2em;
	}
	div.entryContent{
		font-size:1em; 
		width:100%;
		padding: 3%
	}
	
	#language_flags:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}
