body
{
	background-color:#e7eff6;
}

.name{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: darkslategray
}

.emphasis_text{
	font-weight:bold; 
	font-style:italic;
	color: rgb(63, 91, 184)
}

.title{
	font-weight:bold;
	font-size: 1.5em;
	color: rgb(63, 91, 184)
}

.inline_img {
	display: inline;
	margin: 0 0.5em;
	padding: 0;
	vertical-align: baseline;
	height: 1em
  }

  .inline_img_title {
	margin-right: 0.5em;
	display: inline;
	padding: 0;
	vertical-align: baseline;
	height: 1em
  }

  .fade-in-section {
	opacity: 0;
	transform: translateY(20vh);
	visibility: hidden;
	transform: opacity 0.6s ease-out, transform 1.2s ease-out;
	will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
	opacity: 1;
	transform: none;
	visibility: visible;
  }

.menu_div{
	margin-top: 5px;
	display: flex;
	bottom:0px;
	width:100%;
	color:#ffffff;
	
}

.button{
	display:flex;
	justify-content:center;
	align-items:center;
	border-left-style: solid;
	border-color: white;
	width:5em;
	height:100%;
	background-color: #5983FF;
	font-size:20px;
	font-weight: bold;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

select{
	color: #696969;
	padding-left: 2%;
	margin-top: 5px;
	height: 60px;
	width: 100px;
	font-size: 20px;
	border: 1px solid #696969;
	border-radius: 4px;
	-webkit-appearance: none;
	background: url(../images/select_arrow.png) no-repeat;
	background-size: 20%;
	background-position: 95%; 
  }