body
{
	background-color:#bbecf6;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
}

.emphasis_text{
	font-weight:bold; 
	font-style:italic;
	color: black
}

.inline_img {
	display: inline;
	margin: 0 0.5em;
	padding: 0;
	vertical-align: baseline;
	height: 1.3em
  }

.menu_div{
	margin-top: 5px;
	display: flex;
	bottom:0px;
	width:100%;
	color:#ffffff;
	
}

.button{
	display:flex;
	justify-content:center;
	align-items:center;
	border-left-style: solid;
	border-color: white;
	width:5em;
	height:100%;
	background-color: #5983FF;
	font-size:20px;
	font-weight: bold;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}