body
{
	background-color:#ecdede;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
}

.menu_div{
	margin-top: 5px;
	display: flex;
	bottom:0px;
	height:100%;
	width:100%;
	color:#ffffff;
	
}

.button{
	display:flex;
	justify-content:center;
	align-items:center;
	border-left-style: solid;
	border-color: white;
	width:5em;
	height:100%;
	background-color: #5983FF;
	font-size:20px;
	font-weight: bold;
}
