#top-header{
  background-color: #63ace5;
  margin-bottom: 5%
}

.top-header-container {
  display: flex;
  }
  .top-header-container > div {
  flex: 1; /*grow*/
  }

#welcome-text-div{
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  padding-top:5%;
  padding-bottom: 5%;
  text-align:center;
  color: #3f3e3e;
  font-family: PTSansWebRegular
}
.landing_page a{
    text-decoration: none;
}

.normal_text{
  color:#696969 ;
  font-family: PTSansWebRegular;
  margin-bottom: 5%
}

/*The DIV that shows photo*/
div#photo{
  margin: 5%
}
div#photo img{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  border-radius: 50%;
}

div.freeDiv {
  border:dotted;
  border-color:#000000;
  left:50%;
  position:absolute;
}

div.transbox
{
  width:250px;
  height:20px;
  margin-left:3%;
  margin-top:255px;
  background-color:#ffffff;
  position:absolute;
  font-family:Weston, Sans-Serif;
  font-size:x-large;
  opacity:0.9;
  filter:alpha(opacity=9); /* For IE8 and earlier */
}

/*Smartphones, portrait, using max-width;320px converted into EM */
@media only screen
and (max-device-width : 20em){
  #main-canvas{
    width : 18em;
    height : auto;
    border : 1px solid #00ff00;
  }
  #welcome-text-div{
    font-size: 30px;
  }
  .offer{   
    font-size: 1.5em;
  }
  
  .menu_div nav ul li{
   font-size: 25px;
 }
}

/*Smartphones, landscape, using max-width;320px converted into EM */
@media only screen
and (max-device-width : 40em)
and (min-device-width : 21em){
  #main-canvas{
    width : 38em;
    height : auto;
    border : 1px solid #ffff00;
  }
  #welcome-text-div{
    font-size: 2em;
  }
  .offer{   
    font-size: 1em;
  }
  .normal_text{
    margin-top: 5%;
    font-size: 1em;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
   #welcome-text-div{
    font-size: 80px;
  }
  .button{
    font-size: 30px;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
   #welcome-text-div{
    font-size: 60px;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */

  .container {
    display: flex;
    }
    .container > div {
    flex: 1; /*grow*/
    margin-left: 5%;
    margin-right: 5%
    }
  
   #welcome-text-div{
    font-size: 90px;
  }

  .normal_text{
    margin-top: 5%
  }

  div#photo img{
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    display: block;
    border-radius: 50%;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}


